# This group is read both both by the client and the server
# use it for options that affect everything
[client-server]
socket=/run/mysqld/mysql.sock

[mysqld]
user=mysql
datadir=/var/lib/mysql
socket=/run/mysqld/mysql.sock
port=3306
bind-address = 0.0.0.0
skip-networking = false

# Disabling symbolic-links is recommended to prevent assorted security risks

# include all files from the config directory
